/* Specificity: (0, 0, 1) */
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0%;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

/* Specificity: (0, 0, 1) */
h1 {
    text-align: left;
    margin: 3%;
}

/* Specificity: (0, 0, 1) */
h2 {
    text-align: left;
    margin-top: 5%;
}

/* Specificity: (0, 0, 1) */
h3 {
    text-align: left;
}

/* Specificity: (0, 0, 1) */
h4 {
    margin-top: 5%;
    text-align: left;
}

/* Specificity: (0, 0, 1) */
p {
    margin-top: 2%;
    text-align: left;
}

/* Specificity: (0, 0, 2) */
nav > a {
    margin-right: 5%;
    height: auto;
}

/* Specificity: (0, 0, 4) */
header>nav>a>img {
    width: 20%;
    vertical-align: middle;
}

/* Specificity: (0, 0, 1) */
footer {
    margin-top: 10%;
    margin-bottom: 0%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    text-align: left;
}

/* Specificity: (0, 0, 3) */
footer>a>img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

/* Specificity: (0, 0, 2) */
h1 img {
    width: 30%;
    margin-left: 0%;
    margin-right: 80%;
}

/* Specificity: (0, 0, 1) */
hr {
    margin-top: 5%;
}

/* Specificity: (0, 0, 1) */
main {
    width: 100%;
    margin: auto;
}

/* Specificity: (0, 0, 2) */
p > img {
    width: 40%;
    margin: 5%;
    float: left;
}

/* Specificity: (0, 0, 2) */
main > img {
    width: 20%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
}

/* Specificity: (1, 0, 0) */
#map1 {
    height: 500px;
    width: 100%;
    margin-top: 5%;
}

/* Specificity: (1, 0, 0) */
#map2 {
    height: 500px;
    width: 100%;
    margin-top: 5%;
}

/* Specificity: (1, 0, 0) */
#map3 {
    height: 500px;
    width: 100%;
    margin-top: 5%;
}

/* Specificity: (1, 0, 0) */
#map0 {
    height: 500px;
    width: 100%;
    margin-top: 5%;
}

/* Specificity: (1, 0, 0) */
#map {
    height: 500px;
    width: 100%;
    margin-top: 5%;
}

/* Specificity: (0, 1, 1) */
p[class="temp"] {
    margin-left: 10%;
}

/* Specificity: (0, 1, 1) */
p[class="tempmin"] {
    margin-left: 10%;
}

/* Specificity: (0, 1, 1) */
p[class="tempmax"] {
    margin-left: 10%;
}

/* Specificity: (0, 1, 1) */
button {
    margin-top: 5%;
    margin-left: 5%;
    width: 20%;
    height: 50px;
}

/* Specificity: (1, 0, 0) */
#input {
    width: 80%;
    text-align: center;
}

/* Specificity: (0, 1, 1) */
input[type="date"] {
    margin-top: 5%;
}

/* Specificity: (0, 1, 1) */
input[type="number"] {
    margin-top: 5%;
}

/* Specificity: (0, 1, 1) */
input[type="file"] {
    text-align: center;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-left: 20%;
}

/* Specificity: (0, 1, 1) */
input[type="button"] {
    margin-top: 5%;
    text-align: center;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 20%;
}

body > img {
    width: 40%;
    margin-top: 5%;
}