/* Specificity: (0, 0, 1) */
body {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

/* Specificity: (0, 0, 1) */
h1 {
    text-align: left;
    margin: 3%;
}

/* Specificity: (0, 0, 1) */
h2 {
    text-align: left;
    margin-top: 5%;
}

/* Specificity: (0, 0, 1) */
h3 {
    text-align: left;
}

/* Specificity: (0, 0, 1) */
h4 {
    margin-top: 5%;
    text-align: left;
}

/* Specificity: (0, 0, 1) */
p {
    margin-top: 2%;
    text-align: left;
    margin: 3%;
}

/* Specificity: (0, 0, 2) */
nav > a {
    width: 33%;
    margin-right: 10%;
    height: auto;
    margin-left: 0%;
}

/* Specificity: (0, 0, 4) */
header>nav>a>img {
    width: 20%;
    vertical-align: middle;
}

/* Specificity: (0, 0, 1) */
footer {
    margin-top: 10%;
    margin-bottom: 0%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 3%;
    text-align: left;
}

/* Specificity: (0, 0, 3) */
footer>a>img {
    height: 50px;
    width: 50px;
    margin-right: 2%;
}

/* Specificity: (0, 0, 2) */
h1 img {
    width: 30%;
    margin-left: 0%;
    margin-right: 80%;
}

/* Specificity: (0, 0, 1) */
hr {
    margin-top: 5%;
}

/* Specificity: (0, 0, 1) */
main {
    width: 100%;
    margin: auto;
}

/* Specificity: (0, 0, 2) */
p > img {
    width: 40%;
    margin: 5%;
    float: left;
}

/* Specificity: (0, 0, 2) */
main > img {
    width: 20%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
}

body > img {
    width: 40%;
    margin-top: 5%;
}

canvas {
    margin-top: 5%;
    background-color: white;
    width: 70%;
    margin-bottom: 5%;
}
  